
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}
main  {
	width: 325px;
	height: auto;
	
	margin: 200px auto;
	padding: 50px 50px 50px;
	
	background: #9dd2ea;
	background: linear-gradient;
	border-radius: 5px;
	box-shadow: 5px 4px white, 0px 10px 15px ;
}
input[type="button"] {

	padding: 10PX 10px;
	align-content: center;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}